<div class = "row">
    <div class = "col-xs-11">
        <h2>Follow Users</h2>
        <% if @users.count > 0 %>
          <%= render '/users/index', users: @users %>
        <% else %>
          <h4 style ="text-align: center;">No one is following</h4>
        <% end %>
        <div class = "link_bottun">
        <%= link_to "back",users_path %>
        </div>
    </div>
</div>