<div class = "col-xs-3">
        <h2>User info</h2>

          <%= attachment_image_tag user, :profile_image, :fill, 70, 70, fallback: "no_image.png",size: "110x110" %>
          <table class="table">
          <tbody><tr></tr>
            <tr>
              <th>name</th>
              <th><%= user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= user.introduction %></th>
            </tr>
          </tbody>
          </table>
           <%=link_to " edit ", edit_user_path(current_user.id),class: "btn btn-default glyphicon glyphicon-wrench" %>
</div>