<div class = "row">
    <%= render 'users/profile', user:current_user %>
    <div class = "col-md-9">
        <div class = "users">
          <h3>Users...</h3>
            <%= render 'index',users: @users %>
        </div>
    </div>
</div>