	
<div class ="row">
	<div class = "col-xs-9">


	<div id="container">
	
  		<div id="theTarget" class= "skipper">
    		<div class="image1"></div>
    		<div class="image2"></div>
    		<div class="image3"></div>
    		<div class="image4"></div>
  		</div>
  	</div>
    </div>

  		<div class = "introduction">

  		<h2>Find<br>
  		 your favorite<br>
  		stationery <span class="fas fa-cut faa-wrench animated"></span></h2>
  		<br>

  		<div class = "details">
  		<h4>As grown people<br>
		we would like<br>
		to stick<br>
		to our belongings</h4>
		</div>

		<div class = "details">
		<h4>Shall we spend a life<br>
		surrounded by<br>
		our favorite
		stationery...</h4>
		</div>

		<br><br>

		<div class = "details">
		<br>
		<h4>. . . . . . . . . .<span class="fas fa-hippo"> . .</span>
			</h4>
		</div>


</div>