              <% item_comments.each do |item_comment| %>
								<thead>
										<tr>
												<td colspan="3"> <%= attachment_image_tag(item_comment.user, :profile_image, :fill, 40, 40, fallback: "noimage.png",size: "30x30") %>
												<%= item_comment.user.name %></td>
												
										</tr>
										<tr>
												<td><%= item_comment.comment %></td>
												<% if item_comment.user == current_user%>
                    		<td>
												<%= link_to "Delite", item_item_comment_path(item_comment.item, item_comment), method: :delete, remote: :true, class: "btn-sm btn-danger" %>
                      	</td>
                      	<% end %>
										</tr>
								</thead>
							<% end %>
			    