<div class="row">

	<div class="col-md-2 col-xs-10">
		<%= render 'search_tags', search_items: @search_items, tags: @tags%>
	</div>

	<div class="col-xs-10">

		<div class="row">
			<%= render 'index', items: @items%>
		</div>
	</div>

</div>