<div class="row">

	<div class="col-xs-10">

		<div class="row">
			<% @items.each do |item| %>
				<div class="col-xs-4">
        <div class = "form">
					<%= link_to item_path(item.id) do %>
           <div class = "user_name">
           <span class="fas fa-map-pin"> <%= item.user.name %></span>
           </div>
              <div class = "item_photos">
							<%= attachment_image_tag item, :image, :fill, 260, 200, format: "jpeg"%>
              </div>
              <i class="fas fa-heart fa-lg"></i> 
              <i class="far fa-comment fa-lg"></i>
              <% item.genre_name%>
					<% end %>
				</div>
        </div>
			<% end %>
		</div>
	</div>

</div>