/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
 

a:link, a:visited, a:hover{
  color:black;
}

/*-- header --*/
header {
	height: 11%;
	background-image: image-url("papper.jpg");
	opacity :0.7;
	padding-top: 10px;
	width: 100%;
	position: relative;
	margin-bottom: 100px;
} 

.logo {
	margin-top: 2%;
	margin-bottom: 5%;
	}

	.logo img {
		width:100%;
		height: 20%;	
	}

.search-form {
	width: 100%;
	padding: 1em 0 0 8em;
	margin-left: 16em;
}
/*-- ここまで --*/

body {
	margin-top: 6%;
	background-image: image-url("papper.jpg");
	font-family: 'Courier New','Hannotate SC',sans-serif;
}

li {
	color:rgb(14, 13, 13);
}

/*-- error --*/
.actions {
	margin-top:10%;
}

#error_explanation {
	font-size: 20%;
  color: rgb(29, 28, 43);
}
/*-- ここまで --*/

/*-- footer --*/
footer {
	text-align: center;
	width: 100%;
	position: absolute;/*←絶対位置*/
	bottom: 0; /*下に固定*/
}

.wrapper{
	min-height: 20vh;
	position: relative;
	padding-bottom: 5%;/*←footerの高さ*/
	box-sizing: border-box;/*←全て含めてmin-height:20vhに*/
}
#skipper {
	width: 100%;
	height: 100%;
}
/*-- ここまで --*/	

@media screen and (max-width:425px) {
  nav {
		width: 100%;
		margin-bottom: 300px;
		height: 50px;
		position: relative;
  }
	
	.form_box_show {
		display: none;
	}
	.form_box {
		margin-top: 40px;
	}
	.item_photos img{
		width: 100%;
		height: 100%;
	}
	.skipper {
		width: 100%;
	}
	#container {
		height: 200px;
		margin: 60px 0 30px 10px;
	}
	.introduction {
		text-align: center;
	}
	.logo img {
		width: 25%;
		height: 18%;
	}
	
	li {
		display: none;

	}

}





