/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


a:link, a:visited, a:hover, a:active {
  color:black;
}
header {
	height: 10%;
	background-image: image-url("papper.jpg");
	opacity :0.7;
	padding-top: 10px;
} 

ul .navbar-right {
	padding-top: 10%;
}

body {
	margin-top: 6%;
	background-image: image-url("papper.jpg");
	font-family: 'Courier New','Hannotate SC',sans-serif;
}

li {
	color:gray;
}

.actions {
	margin-top:10%;
}
#error_explanation {
	font-size: 20%;
  color: rgb(36, 34, 59);
}
.search-form {
	padding: 1em 0 0 8em;
	margin-left: 16em;
}
footer {
	height: 10%;
	background-image: image-url("879585.jpg");
	opacity :0.7;
	width: 100%;
}
