// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image1 {
	background-image: image-url("illust.jpg");
}
.image2 {
	background-image: image-url("illust100.jpg");
}
.image3 {
	background-image: image-url("illust101.jpg");
}
.image4 {
	background-image: image-url("small.jpg");
}


#theTarget {
	margin-top :1%;
}

.skipper {
	width :100%;
	height :100%;

}


#container{
	height: 500px;
	width:800px;
}

.details{
	margin-bottom: 5%;
}

.how_to_use {
	background-color:rgba(255, 255, 255, 0.836);
	width: 90%;
	height: 650px;
	padding: 2% 10% 5% 5%;
	border-radius: 20px;
	margin: 10% 0 0 5%;
	opacity: 0.75;
}

