// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-- new ページ --*/
.new_item {
  color :rgb(53, 32, 27);
}
table {
  margin-top: 50px;
}

.item_photo_form {
  padding: 2em 2.5em 1em 2em;
  margin: 0 0;
  background: #FFF;
  border: solid 3px #373738;
  border-radius: 10px;
}
/*-- ここまで --*/


/*-- index ページ --*/
.item_photos {
  margin: 1em 1em;
  background: #FFF;
  border-radius: 10px;
}

.form_box {
  background-color: grayscale($color: #fafafa);
  border-radius: 10px;
  margin-bottom: 5ex;
  border: solid 2px #373738;
  font-size: 100%;
  color:grayscale($color: #c25613) ;
}

.user_name{
  padding :0.8em 0.8em 0 1em;
 }

 i {
  margin :0.2em;
}
/*-- ここまで --*/

/*-- showページ --*/
.bottun {
  margin-left: 70%;
}

.comment-form {
  margin: 0.6em;
}

.comment{
  background-color: desaturate($color: #e8c3c3, $amount: 0);
  border-radius: 10px;
}
/*-- ここまで --*/

/*-- rankingsページ --*/

h1 {
  text-align: center;
}

.ranking_form {
  background-color:  rgb(250, 245, 225);
  border-radius: 10px;
  margin-bottom: 4em; 
  border: solid 2px #373738;
  font-size: 100%;
  color:grayscale($color: #c25613) ;
  height:530px;
  width: 100%; 
}

.top3_photo {
padding:0 0 0.5em 1.5em;
}
/*-- ここまで --*/


/*-- indexページ tag検索 --*/
.tag_search {
  background-color: rgb(233, 221, 214);
  padding: 3%;
  border-radius: 10px;
}

.search_results {
  background-color: grayscale($color: #fafafa);
  border-radius: 10px;
  margin: 3%; 
  border: solid 1px #373738;
  padding: 3%;
}

/*-- ここまで --*/